/* Import Google fonts - Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: linear-gradient(#EEEEFF,#C7C8FF);
}

.chatbot{
    width: 400px;
    background: #EEEEFF;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), /*new*/ 
    0 32px 64px -48px rgba(0,0,0,0.5);
}

.chatbot-header{
    display: flex;
    align-items: center;
    background-color: #5350C4;
    padding: 15px 20px;
    justify-content: space-between;
}

.chatbot-header .header-info{
    display:flex;
    gap: 10px;
    align-items: center;
}

.chatbot-header .chatbot-logo{
    width: 30px;
    height: 30px;
    padding: 6px;
    background: #EEEEFF;
    flex-shrink: 0;
    fill:#5350C4;
    border-radius: 50%;
}

.chatbot-header .logo-text{
    color: #EEEEFF;
    font-size: larger;
    font-weight: bolder;
    
}

.chatbot-header #chatbot-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #EEEEFF;
    border: none;
    cursor: pointer;
    font-size: large;
    padding-top:2px ;
    margin-right: -10px;
    background: none;
    transition: 0.2ms ease;
}

.chatbot-header #chatbot-close:hover{
  background: #3d3b86;
}

.chatbot-body{
    display: flex;
    padding: 20px 18px;
    gap : 25px;
    height: 350px;
    margin-bottom: 60px;
    flex-direction: column;
    overflow-y: auto;
}


.chatbot-body .bot-message{
    display: flex;
    gap : 10px;
    align-items: center;
}

.chatbot-body .bot-message .chatbot-logo{
   width: 30px;
    height: 30px;
    padding: 6px;
    background: #5350C4;
    flex-shrink: 0;
    fill:#EEEEFF;
    border-radius: 50%;
}

.chatbot-body .user-message{
 padding-left: 120px;
}

.chatbot-body .message .message-text{
   padding: 12px 16px;
   max-width: 75%;
   font-size: 0.95rem;
}

.chatbot-body .bot-message .message-text{
background-color: #d9d9f6;
border-radius: 13px 13px 13px 13px;
}

.chatbot-body .user-message .message-text{
background-color: #595ac1;
border-radius: 13px 13px 13px 13px;
color: #C7C8FF;
overflow: auto;
}

.chatbot-footer{
    position: absolute;
}