/* Import Google fonts - Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: linear-gradient(#EEEEFF,#C7C8FF);
}

.chatbot{
    width: 400px;
    background: #EEEEFF;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), /*new*/ 
    0 32px 64px -48px rgba(0,0,0,0.5);
    position: relative;
}

.chatbot-header{
    display: flex;
    align-items: center;
    background-color: #5350C4;
    padding: 15px 20px;
    justify-content: space-between;
}

.chatbot-header .header-info{
    display:flex;
    gap: 10px;
    align-items: center;
}

.chatbot-header .chatbot-logo{
    width: 30px;
    height: 30px;
    padding: 6px;
    background: #EEEEFF;
    flex-shrink: 0;
    fill:#5350C4;
    border-radius: 50%;
}

.chatbot-header .logo-text{
    color: #EEEEFF;
    font-size: larger;
    font-weight: bolder;
    
}

.chatbot-header #chatbot-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #EEEEFF;
    border: none;
    cursor: pointer;
    font-size: large;
    padding-top:2px ;
    margin-right: -10px;
    background: none;
    transition: 0.2ms ease;
}

.chatbot-header #chatbot-close:hover{
  background: #3d3b86;
}

.chatbot-body{
    display: flex;
    padding: 20px 18px;
    gap : 25px;
    height: 350px;
    margin-bottom: 60px;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}


.chatbot-body .bot-message{
    display: flex;
    gap : 10px;
    align-items: center;
}

.chatbot-body .bot-message .chatbot-logo{
   width: 30px;
    height: 30px;
    padding: 6px;
    background: #5350C4;
    flex-shrink: 0;
    fill:#EEEEFF;
    border-radius: 50%;
}

.chatbot-body .user-message{
 /* padding-left: 120px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-body .message .message-text{
   padding: 12px 16px;
   max-width: 75%;
   font-size: 0.95rem;
}

.chatbot-body .bot-message .message-text{
background-color: #d9d9f6;
border-radius: 13px 13px 13px 2px;
}

.chatbot-body .user-message .message-text{
background-color: #595ac1;
border-radius: 13px 13px 2px 13px;
color: #ffffff;
overflow: auto;
}

.chatbot-body .user-message .attachment{
  margin-top: 7px;
  width: 50%;
  border-radius: 13px 2px 13px 13px;
  
}

.chatbot-body .bot-message .loading-indicator{
 display: flex;
 gap:4px;
 padding-block: 2px;
}

.chatbot-body .bot-message .loading-indicator .dot{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #595ac1;
    animation: dotPulse 1.8s ease-in-out infinite;
}

.chatbot-body .bot-message .loading-indicator .dot:nth-child(1){
    animation-delay: 0.2s;
}

.chatbot-body .bot-message .loading-indicator .dot:nth-child(2){
    animation-delay: 0.3s;
}

.chatbot-body .bot-message .loading-indicator .dot:nth-child(3){
   animation-delay: 0.4s;
}

@keyframes dotPulse{
    0%, 44%{
     transform: translateY(0);
    }

    28%{
        opacity: 0.4;
        transform: translateY(-5px);
        }
    
    44%{
        opacity: 0.2;
    }
}
.chatbot-footer{
    position: absolute;
    width:100%;
    bottom: 0;
    padding: 15px 10px 20px;
}

.chatbot-footer .chat-form{
    width: 375px;
    display: flex;
    align-items: center;
    background-color: #EEEEFF;
    border-radius: 22px;
    outline: 1px solid rgb(219, 202, 202);
}

.chatbot-footer .chat-form:focus-within{
    outline: 1px solid #595ac1;
}

.chatbot-footer .user-reply{
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    font-size: 0.95rem;
    padding: 2px 0px 10px 10px;
    margin-top: 6px;
    border-radius: inherit;
    background-color: #EEEEFF;
}

.chat-form .chat-controls{
    display: flex;
    align-items: center;
    align-self: flex-end;
    height:50px ;
    padding-right: 6px;
    gap:2px
}

.chat-form .chat-controls button{
    height: 30px ;
    width: 30px;
    border: none;
    color: #5350C4;
    background-color: #EEEEFF;
    border: 50%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.chat-form .chat-controls #send-message{
    color: #EEEEFF;
    background-color: #595ac1;
    display: none;
} 

.chat-form .user-reply:valid~.chat-controls #send-message{
   display: block;
}

.chat-form .chat-controls button:hover{
    background: #C7C8FF;
}

.chat-form .chat-controls #send-message:hover{
    background:#3d3b86
}

.chat-form .file-uploader{
    height: 30px;
    width: 30px;
    position: relative;
}
.chat-form .file-uploader :where(img,button){
  position :absolute; 
}

.chat-form .file-uploader img{
    height:30px;
    width: 30px;
    border-radius: 50%;
    object-fit: fill;
    display:none;
}

.chat-form .file-uploader #file-cancel{
    color: #595ac1;
    background-color:  transparent;
}

 .chat-form .file-uploader :where(img,#file-cancel),
 .chat-form .file-uploader.file-uploaded #file-upload{
   display: none;
 }

.chat-form .file-uploader.file-uploaded img,
.chat-form .file-uploader.file-uploaded:hover #file-cancel{
    display: block;
}

